<form class="form" [formGroup]="profileForm">
  <!--DATOS PERSONALES-->
  <mat-card class="card">
    <div class="section-title">
      <p class="card-title">Datos personales</p>
      <mat-icon class="card-icon">person</mat-icon>
    </div>
    <mat-form-field class="hobbiesForm">
      <mat-label>Introduce tu nuevo nombre</mat-label>

      <input matInput name="name" [formControl]="userProfile.name"  />
    </mat-form-field>
    <mat-icon *ngIf="userProfile.nameChange" class="card-icon check"
      >check_circle
    </mat-icon>

      <mat-form-field class="hobbiesForm" appearance="fill">
        <mat-label>Selecciona tu género</mat-label>
        <mat-select [(value)]="genderValue">
          <mat-option value="Masculino">Masculino
          </mat-option>
          <mat-option value="Femenino">Femenino
          </mat-option>
          <mat-option value="Otros">Otros
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon *ngIf="userProfile.genderChange" class="card-icon check"
      >check_circle
    </mat-icon>
    <button
      mat-raised-button
      color="primary"
      (click)="changePersonal(userProfile.name.value, genderValue)"
    >
      Guardar Cambios
    </button>
  </mat-card>

  <!--HOBBIES-->
  <mat-card class="card">
    <div class="section-title">
      <p class="card-title">Hobbies</p>
      <mat-icon class="card-icon">favorite</mat-icon>
    </div>
    <mat-form-field class="hobbiesForm">
      <mat-chip-list #chipList aria-label="Hobby selection">
        <mat-chip
          *ngFor="let hobby of hobbies"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(hobby)"
        >
          {{ hobby }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Selecciona tus hobbies..."
          #hobbyInput
          [formControl]="hobbyCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)"
      >
        <mat-option
          *ngFor="let hobby of filteredHobbies | async"
          [value]="hobby"
        >
          {{ hobby }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-icon *ngIf="userProfile.hobbyChange" class="card-icon check"
    >check_circle
  </mat-icon>
  </mat-card>
  <!--EMAIL Y PASSWORD-->
  <mat-card class="card">
    <div class="section-title">
      <p class="card-title">Datos de acceso</p>
      <mat-icon class="card-icon">lock</mat-icon>
    </div>

    <mat-form-field class="hobbiesForm">
      <mat-label>Introduce tu nuevo email</mat-label>

      <input matInput name="email" [formControl]="userProfile.email" />
    </mat-form-field>
    <mat-icon *ngIf="userProfile.emailChange" class="card-icon check"
    >check_circle
  </mat-icon>
    <mat-form-field class="hobbiesForm">
      <mat-label>Introduce tu nueva contraseña</mat-label>

      <input matInput name="password" [formControl]="userProfile.password" />
    </mat-form-field>

    <mat-icon *ngIf="userProfile.passwordChange" class="card-icon check"
    >check_circle
  </mat-icon>
  <button
  mat-raised-button
  color="primary"
  (click)="changeAccess(userProfile.email.value, userProfile.password.value)"
>
  Guardar Cambios
</button>
  </mat-card>
</form>
