<div class="container">
  <div class="match-pic">
    <img
      [src]="url"
      alt=""
    />
    <div class="text-image">
      <p class="name">{{ friend.name }}</p>

      <div class="match-data">
        <div>
          <ul>

            <li class="description">{{ friend.description }}</li>
            <div class="row">
              <li *ngFor="let hobbie of friend.hobbies">
                <span class="hobbies">{{ hobbie }}</span>
              </li>
            </div>
            <li class="social">{{friend.Instagram}}</li>
            <li class="social">{{friend.Facebook}}</li>
            <li class="social">{{friend.Whatssap}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
