<div class="container">
  <div class="match-pic">
    <img
      [src]="url"
      alt=""
    />
    <div class="text-image">
      <p class="name">{{ friend.name }}</p>

      <div class="match-data">
        <div>
          <ul>

            <li class="description">{{ friend.description }}</li>
            <div class="row">
              <li *ngFor="let hobbie of friend.hobbies">
                <span class="hobbies">{{ hobbie }}</span>
              </li>
            </div>
            <li class="social"><img src="/assets/img/instagram-brands.svg" class="icon" alt="">{{friend.Instagram}}</li>
            <li class="social"><img src="/assets/img/facebook-brands.svg" class="icon"  alt="">{{friend.Facebook}}</li>
            <li class="social"><img src="/assets/img/whatsapp-brands.svg" class="icon"  alt="">{{friend.whatssap}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
