<!-- <button mat-icon-button>
    <mat-icon
      (click)="logOut()"
      #tooltip="matTooltip"
      matTooltip="Cerrar sesión"
      >logout</mat-icon
    >
  </button> -->
<div class="main-container">
  <div class="grid">
    <router-outlet></router-outlet>

  </div>
  <nav class="bottom-menu">
    <ul>
      <li>
        <a routerLink="matches">
          <mat-icon class="card-icon">shuffle</mat-icon></a
        >
      </li>
      <li>
        <a routerLink="friends">
          <mat-icon class="card-icon">group</mat-icon></a
        >
      </li>
      <li>
        <a routerLink="profile">
          <mat-icon class="card-icon">settings</mat-icon></a
        >
      </li>
    </ul>
  </nav>
</div>
