<div class="container">
    <div class="match-pic">
      <img
        [src]="url"
        alt=""
      />
      <div class="text-image">
        <p class="name">{{ user.name }}</p>
  
        <div class="match-data">
          <div>
            <ul>
  
              <li class="description">{{ user.description }}</li>
              <div class="row">
                <li *ngFor="let hobbie of user.hobbies">
                  <span class="hobbies">{{ hobbie }}</span>
                </li>
              </div>
              <li class="social"><img src="/assets/img/instagram-brands.svg" class="icon" alt="">{{user.Instagram}}</li>
              <li class="social"><img src="/assets/img/facebook-brands.svg" class="icon"  alt="">{{user.Facebook}}</li>
              <li class="social"><img src="/assets/img/whatsapp-brands.svg" class="icon"  alt="">{{user.Whatssap}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  