  <div class="inputContainer">
    <img src="assets/img/logo.jpg">
    <mat-card>

    <form class="form" [formGroup]="logInForm">
      <mat-form-field appearance="standard">
        <mat-label>Correo electrónico</mat-label>
        <input
          [errorStateMatcher]="defaultInputMatcher"
          matInput
          name="email"
          [formControl]="usersLogIn.email"
          required
        />
        <mat-error *ngIf="usersLogIn.email.invalid">{{
          getErrorMessageEmail()
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Contraseña</mat-label>
        <input
          [errorStateMatcher]="defaultInputMatcher"
          [formControl]="usersLogIn.password"
          name="password"
          required
          matInput
          [type]="!hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="usersLogIn.password.invalid">{{
          getErrorMessagePassword()
        }}</mat-error>
      </mat-form-field>
      <!--
    <mat-checkbox class="rememberMeCheckBox">Recuérdame</mat-checkbox>-->
      <button       [disabled]="!logInForm.valid"
       (click)="logIn()" mat-raised-button color="primary">
        Iniciar sesión
      </button>
      <mat-error class="errorMessage" *ngIf="errorLogin">{{getErrorMessageAccount()}}</mat-error>        
    </form>

    <div class="bottomFormText">
      <p>¿Aún no tienes una cuenta?</p>
      <a routerLink="/signup">Regístrate</a>
    </div>
  </mat-card>

  </div>
