
<div class="container2">
  <div class="separator"></div>
  <h1>FRIENDCHATS</h1>
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let friend of friends" [value]="friend">
      <span class="friend" (click)="takeFriends(friend._id)">
        <mat-icon class="card-icon">person </mat-icon>
        {{ friend.name }}

        <div mat-dialog-actions class="end">
          <button mat-button cdkFocusInitial>Hablar</button>
        </div>
      </span>

    </mat-list-option>
  </mat-selection-list>
</div>

<div class="no-matches" *ngIf="friends.length==0">
  <div class="no-people" style="text-align:center;margin-top:70px;">
    <div class="separator"></div>
    <div class="container">
        <button class="pulse-button"></button>
    </div>
  </div>


  <div class="separator"></div>
  <h3 class="no-people-text">Aún no tienes friendmatches registrados</h3>
</div>
